/* --RESET-- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --Variaveis-- */
:root {
  --cor1: #7f5af0;
  --cor2: #2cb67d;
  --cor3: rgb(42, 141, 255);
  --fundo: white;
  --textcolor: black;
}
/* --BODY-- */
body {
  display: flex;
  flex-direction: column;
}
/* --HEADER-- */
#header {
  width: 100%;
  position: sticky;
  top: 0%;
  z-index: 1;
  height: 4.5rem;
  background: var(--cor1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2.5px solid var(--cor2);
}
.logo {
  position: absolute;
  width: 30rem;
  height: 100%;
  display: flex;
  margin-right: 50%;
}
.logo img {
  width: 7rem;
  height: 7rem;
  margin-top: -1.2rem;
}
.logo span {
  font: 600 30px "Roboto", sans-serif;
  margin-top: 1rem;
}
.logo span span {
  font: 600 30px "Roboto", sans-serif;
  color: var(--fundo);
}
.logo a {
  text-decoration: none;
  color: var(--textcolor);
  display: flex;
}
/* --NAVBAR-- */
.navbar a {
  text-decoration: none;
  color: var(--fundo);
}
.navbar div {
  text-transform: uppercase;
  margin-left: 1.5rem;
  font: 550 15px "Roboto", sans-serif;
  color: var(--fundo);
  align-self: center;
}
.button-navbar {
  border-radius: 100%;
  height: 3.2rem;
  width: 3.2rem;
  border: none;
  cursor: pointer;
}
.perfil {
  border-radius: 100%;
  height: 3.5rem;
  width: 3.5rem;
  background: var(--fundo);
  display: grid;
  align-items: center;
  justify-content: center;
  border: 2.5px solid var(--cor2);
  transition: all 0.2s;
}
.navbar {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 70%;
}
.perfil span {
  display: none;
}
.perfil-navbar-opened {
  margin-top: 60%;
  width: 12rem;
  height: 12rem;
  background: var(--fundo);
  display: flex;
  border: 2.5px solid var(--cor2);
  border-radius: 5%;
  border-top-right-radius: 15%;
  transition: all 0.2s;
  flex-direction: column;
}
.perfil-navbar-opened button {
  margin-left: 65%;
  margin-top: 0.5rem;
  transition: all 0.1s;
  border: 2.5px solid var(--cor1);
}
.perfil-navbar-opened span,
.perfil-navbar-opened a {
  color: #7f5af0;
  align-self: center;
  margin-top: 1rem;
  transition: all 0.1s;
}
/* --NAVBAR HOVER-- */

.carrinho:hover,
.perfil:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}
.perfil-navbar-opened button:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}
/* --MAIN-- */
main {
  display: flex;
  flex-direction: row;
}
/* --Produtos-- */
.produtos {
  width: 65%;
  margin-top: 10rem;
  margin-left: 5rem;
}
.produto {
  display: flex;
  flex-direction: column;
  box-shadow: 1px -2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  height: 15rem;
  max-width: 70rem;
}
.prodIMG {
  width: 10rem;
  height: 10rem;
  margin-left: 5rem;
}
.modelos {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cor2);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font: 500 20px "Roboto", sans-serif;
  color: var(--fundo);
}
.corpo {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: var(--fundo);
  font: 500 15px "Roboto", sans-serif;
}
.botaocomprar {
  align-self: center;
  display: flex;
  flex-direction: column;
  font: 600 30px "Roboto", sans-serif;
}
.descricao {
  margin-left: 4rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 35rem;
}
.desc {
  margin-top: 1.5rem;
  width: 25rem;
}
.preco {
  margin-bottom: 1rem;
}
.alugar {
  width: 10rem;
  height: 2rem;
  align-self: center;
  background: var(--cor3);
  border-radius: 0.2rem;
  color: var(--fundo);
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
.alugar:hover {
  box-shadow: 1px 1px 8px 1px var(--cor3);
  transition: all 0.3s ease;
}
/* --carrinho de compras-- */
.compras {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--fundo);
  width: 25rem;
  height: 27rem;
  top: 25%;
  left: 70%;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 1px -2px 8px 2px rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(0, 0, 0, 0.133);
}
.compras .titulo {
  margin-top: 1rem;
  font: 500 20px "Roboto", sans-serif;
}

.listTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  max-height: 15rem;
  height: 15rem;
  width: 23rem;
  background: rgba(226, 226, 226, 0.24);
  font: 500 15px "Roboto", sans-serif;
  margin-top: 1rem;
}
.listTable thead{
  width: 20rem;
}
.listTable thead tr{
  width: 20rem;
  display: flex;
}
.listTable thead td{
  margin-left: 5.5rem;

}
.listTable tbody{
  width: 21rem;
}
.listTable tbody tr{
width: 21rem;
display: flex;
align-items: center;
justify-content: space-between;
}
.listTable tbody tr td{
  margin-left: 1rem;
  margin-top: 1rem;

}
.btn-delete{
margin-left: 1rem;
color: white;
background-color: red;
border: none;
border-radius: 10%;
width: 3rem;
height: 1.5rem;
cursor: pointer;
}
.textototal1{
  margin-top: 1rem;
  display: flex;
  font: 600 20px "Roboto", sans-serif;
}
.comprar{
  margin-top: 1.5rem;
}
.comprar button{
  width: 10rem;
  height: 2rem;
  align-self: center;
  background: var(--cor2);
  border-radius: 0.2rem;
  color: var(--fundo);
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
.comprar button:hover {
  box-shadow: 1px 1px 8px 1px var(--cor2);
  transition: all 0.3s ease;
}
/* --MODAL COMPRAR-- */
.modal-comprar {
  display: none;
}
.modal-comprar-opened {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-comprar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--fundo);
  width: 35rem;
  height: 35rem;
  border-radius: 1.5rem;
  box-shadow: 1px -2px 20px -2px rgba(0, 0, 0, 0.37);
  border: 2px solid rgba(0, 0, 0, 0.133);
  top: 5rem;
  align-items: center;
}

.modal-comprar-container h1{
  font: 500 30px "Roboto", sans-serif;
  margin-top: 2rem;
}
.pix {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}
.pix span{
  font: 500 18px "Roboto", sans-serif;
}
.pix img {
  margin-top: 2rem;
  width: 12rem;
  height: 12rem;
}
.baixo {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}
.baixo a{
  text-decoration: none;
  color: var(--textcolor);
}

.baixo button{
  margin-top: 2rem;
  width: 10rem;
  height: 2rem;
  align-self: center;
  background: var(--cor2);
  border-radius: 0.2rem;
  color: var(--fundo);
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
.baixo button:hover {
  box-shadow: 1px 1px 8px 1px var(--cor2);
  transition: all 0.3s ease;
}
.textototal{
  display: flex;
  font: 500 18px "Roboto", sans-serif;
  margin-top: 1.5rem;
}
.botao-fechar{
  position: absolute;
  margin-left: 31.5rem;
  width: 3rem;
  height: 3rem;
  color: var(--fundo);
  background-color: red;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease;

}
.botao-fechar:hover {
  box-shadow: 1px 1px 8px 1px red;
  transition: all 0.3s ease;
}
  /* --FOOTER-- */
  .footer {
    background: var(--cor2);
    padding: 1rem;
    height: 10rem;
    display: flex;
    margin-top: 100%;
    margin-bottom: 0%;
  }
  .footer-logo{
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 10%;
  }
  .footer-logo p{
    color: var(--fundo);
    display: flex;
    flex-direction: column;
  }
  .footer .social a {
    transition: 0.3s;
    display: inline-block;
    position: relative;
    right: 5%;
    left: auto ;
    top: 3rem;
  }
  .social .icon{
    margin-left: 1rem;
  }
  .footer .social a:hover {
    transform: translateY(-8px);
  }

/* --RESPONSIVIDADE-- */

/* Para celular: */

@media only screen and (max-width: 600px) {
}

/* Para tablet: */

@media only screen and (max-width: 768px) {
}

/* Para notebook: */

@media only screen and (max-width: 992px) {
}

/* Para pc: */

@media only screen and (max-width: 1200px) {
}
