/* --RESET-- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --Variaveis-- */
:root {
  --cor1: #7f5af0;
  --cor2: #2cb67d;
  --cor3: rgb(42, 141, 255);
  --cor4: #262339;
  --fundo: white;
  --textcolor: black;
}
/* --BODY-- */
body {
  display: flex;
  flex-direction: column;
}
/* --HEADER-- */
#header {
  width: 100%;
  position: sticky;
  top: 0%;
  z-index: 1;
  height: 4.5rem;
  background: var(--cor1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2.5px solid var(--cor2);
}
.logo {
  position: absolute;
  width: 30rem;
  height: 100%;
  display: flex;
  margin-right: 50%;
}
.logo img {
  width: 7rem;
  height: 7rem;
  margin-top: -1.2rem;
}
.logo span {
  font: 600 30px "Roboto", sans-serif;
  margin-top: 1rem;
}
.logo span span {
  font: 600 30px "Roboto", sans-serif;
  color: var(--fundo);
}
.logo a {
  text-decoration: none;
  color: var(--textcolor);
  display: flex;
}
/* --NAVBAR-- */
.navbar a {
  text-decoration: none;
  color: var(--fundo);
}
.navbar div {
  text-transform: uppercase;
  margin-left: 1.5rem;
  font: 500 15px "Roboto", sans-serif;
  color: var(--fundo);
  align-self: center;
}

.navbar {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 70%;
}

/* --NAVBAR HOVER-- */
.navbar div:hover {
  color: var(--cor2);
  transition: color 0.4s;
  position: relative;
  transition: all 0.2s ease;
}
.navbar div:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}
.navbar div::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: var(--cor2);
  position: fixed;
  padding: 0.5px;
  left: -0.2rem;
  bottom: -0.5rem;
  transition: width 0.2s;
}
.navbar div:hover::after {
  width: 100%;
}
/* --MAIN-- */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* --Produtos-- */
.produtos {
  display: flex;
  position: relative;
  right: auto;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10rem;
  flex-wrap: wrap;
  width: 90rem;
}
.produto {
  display: flex;
  align-items: center;
  box-shadow: 1px -2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  height: 15rem;
  width: 15rem;
  cursor: pointer;
  transition: all 0.3s ease;

}
.produto:hover{
    box-shadow: 1px 1px 8px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.prodIMG {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.modelo {
  margin-bottom: 2rem;
  font: 400 18px "Roboto", sans-serif;
  color: var(--fundo);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.corpo {
position: absolute;
background: rgba(0, 0, 0, 0.4);
height: 15rem;
width: 15rem;
border-radius: 0.5rem;
z-index: 1;
display: flex;
align-items: center;
justify-content: center;
}
.descricao {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: var(--fundo);
  font: 200 15px "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 1px -2px 8px 3px rgba(0, 0, 0, 0.1);

}

.desc {
  width: 100%;
  margin-top: 1.5rem;
  align-self: center;
  font-size: 19px;
}
/* --FOOTER-- */
/* --RESPONSIVIDADE-- */

/* Para celular: */

@media only screen and (max-width: 600px) {
}

/* Para tablet: */

@media only screen and (max-width: 768px) {
}

/* Para notebook: */

@media only screen and (max-width: 992px) {
}

/* Para pc: */

@media only screen and (max-width: 1200px) {
}
