/* --Variaveis-- */
:root{
  --cor1:#7F5AF0;
  --cor2:#2CB67D;
  --cor3:rgb(42, 141, 255);
  --fundo:white;
  --textcolor:white;
}
/* --BODY-- */
body{
  display: flex;
  flex-direction: column;
}

/* --formulario de registro-- */
.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--fundo);
  width: 40rem;
  height: 30rem;
  border-radius: 1.5rem;
  box-shadow: 1px -2px 15px 2px rgba(0,0,0,0.37);
  border: 2px solid rgba(0, 0, 0, 0.133);
  top: 10rem;
  align-self: center;
}
form{
  display: flex;
  flex-direction: column;
  max-width: 21rem;
  align-self: center;
}
form input{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-self: center;
}
form label{
align-self: flex-start;
}
form .button{
  width: 10rem;
  height: 2rem;
  align-self: center;
  background:var(--cor3);
  border-radius: 0.2rem;
  color: var(--fundo);
  transition: all 0.3s ease;
  border: none;
}
.container h1{
  align-self: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font:2rem 'Oswald', sans-serif;
}
.button:hover{
  transform: scale(1.1);
  transition: all 0.3s ease;
}
form label{
  font:1rem 'Roboto', sans-serif;
}
.entrada{
background: none;
border-radius: 0.2rem;
font: 500 1rem 'Roboto', sans-serif;
block-size: 1.5rem;
width: 30rem;
border:1px #a1a1a1 solid;
animation: none;
outline: 0;
}
.password-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.password{
  width: 100rem;
}
.password2{
  margin-left: 2rem;
  position: relative;
}
span{
  font:0.9rem 'Roboto', sans-serif;
  align-self: center;
  margin-top: 1.5rem;
}

/* --RESPONSIVIDADE-- */


/* Para celular: */

@media only screen and (max-width: 600px){

}

/* Para tablet: */

@media only screen and (max-width: 768px){

}

/* Para notebook: */

@media only screen and (max-width: 992px){

}

/* Para pc: */

@media only screen and (max-width: 1200px){

}