/* --RESET-- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --Variaveis-- */
:root{
  --cor1:#7F5AF0;
  --cor2:#2CB67D;
  --cor3:rgb(42, 141, 255);
  --fundo:white;
  --textcolor:black;
}
/* --BODY-- */
body{
  display: flex;
  flex-direction: column;
}
/* --HEADER-- */
#header{
  width: 100%;
  position: sticky;
  height: 4.5rem;
  background: var(--cor1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2.5px solid var(--cor2);
}
.logo{
  width: 30rem;
  height: 100%;
  display: flex;
}
.logo img{
  width: 7rem;
  height: 7rem;
  margin-top: -1.2rem;
}
.logo span {
  font: 600 30px 'Roboto',sans-serif;
  margin-top: 1rem;
}
.logo span span{
  font: 600 30px 'Roboto',sans-serif;
  color: var(--fundo);
}
.navbar div{
  text-transform: uppercase;
  margin-left: 1.5rem;
  font: 500 15px 'Roboto',sans-serif;
  color: var(--fundo);
  align-self: center;
}
.navbar .perfil{
  border-radius: 100%;
  height: 3.5rem;
  width: 3.5rem;
  background: var(--fundo);
  display: grid;
  align-items: center;
  justify-content: center;
  border: 2.5px solid var(--cor2);
}
.navbar{
  display: flex;
  align-self: flex-end;
  height: 100%;
  max-width: 30rem;
  align-items: center;
}
/* --MAIN-- */
/* --FOOTER-- */