/* --RESET-- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --Variaveis-- */
:root{
  --cor1:#7F5AF0;
  --cor2:#2CB67D;
  --cor3:rgb(42, 141, 255);
  --fundo:white;
  --textcolor:black;
}
/* --BODY-- */
body{
  display: flex;
  flex-direction: column;
}
/* --HEADER-- */
#header{
  width: 100%;
  position: sticky;
  top: 0%;
  z-index: 1;
  height: 4.5rem;
  background: var(--cor1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2.5px solid var(--cor2);
}
.logo{
  position: absolute;
  width: 30rem;
  height: 100%;
  display: flex;
  margin-right: 50%;
}
.logo img{
  width: 7rem;
  height: 7rem;
  margin-top: -1.2rem;
}
.logo span {
  font: 600 30px 'Roboto',sans-serif;
  margin-top: 1rem;
}
.logo span span{
  font: 600 30px 'Roboto',sans-serif;
  color: var(--fundo);
}
.logo a{
  text-decoration: none;
  color: var(--textcolor);
  display: flex;
}
/* --NAVBAR-- */
.navbar a{
  text-decoration: none;
  color: var(--fundo);
}
.navbar div{
  text-transform: uppercase;
  margin-left: 1.5rem;
  font: 500 15px 'Roboto',sans-serif;
  color: var(--fundo);
  align-self: center;
}
.button-navbar{
  border-radius: 100%;
  height: 3.2rem;
  width: 3.2rem;
  border: none;
  cursor: pointer;
}
.perfil{
  border-radius: 100%;
  height: 3.5rem;
  width: 3.5rem;
  background: var(--fundo);
  display: grid;
  align-items: center;
  justify-content: center;
  border: 2.5px solid var(--cor2);
  transition: all .2s;
}
.navbar{
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 70%;
}
.perfil span{
display: none;
}
.perfil-navbar-opened{
  margin-right: 1%;
  margin-top: 55%;
  width: 12rem;
  height: 12rem;
  background: var(--fundo);
  display: flex;
  border: 2.5px solid var(--cor2);
  border-radius: 5%;
  border-top-right-radius: 15%;
  transition: all .2s;
  flex-direction: column;
}
.perfil-navbar-opened button{
  margin-left: 65%;
  margin-top: .5rem;
  transition: all .1s;
  border: 2.5px solid var(--cor1);

}
.perfil-navbar-opened span,.perfil-navbar-opened a{
  color: #7F5AF0;
  align-self: center;
  margin-top: 1rem;
  transition: all .1s;
}
/* --NAVBAR HOVER-- */
.products-navbar:hover {
  color:var(--cor2);
  transition: color 0.4s;
  position: relative;
  transition: all 0.2s ease;
}
.products-navbar:hover{
  transform: scale(1.05);
  transition: all 0.2s ease;
}
.products-navbar::after {
  content: '';
  width: 0%;
  height: 1px;
  background-color:var(--cor2);
  position: fixed;
  padding: 0.5px;
  left: -0.2rem;
  bottom: -0.5rem;
  transition: width 0.2s;
}
.products-navbar:hover::after {
  width: 100%;
}
.perfil:hover{
  transform: scale(1.05);
  transition: all 0.2s ease;
}
.perfil-navbar-opened button:hover{
  transform: scale(1.05);
  transition: all 0.2s ease;
}
/* --MAIN-- */
/* --FOOTER-- */