/*  --main--  */
body{
  display: flex;

  justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--fundo);
  width: 35rem;
  height: 45rem;
  border-radius: 1.5rem;
  box-shadow: 1px -2px 20px -2px rgba(0,0,0,0.37);
  border: 2px solid rgba(0, 0, 0, 0.133);
  top: 5rem;
  align-items: center;
}
/* --perfil-- */
.perfil-icon{
margin-top: 3rem;
box-shadow: 1px -1px 20px -8px rgba(0,0,0,0.37);
border: 2px solid rgba(0, 0, 0, 0.133);
width: 5rem;
height: 5rem;
display: flex;
align-items: center;
justify-content: center;
border-radius: 100%;
}

/* --RESPONSIVIDADE-- */


/* Para celular: */

@media only screen and (max-width: 600px){

}

/* Para tablet: */

@media only screen and (max-width: 768px){

}

/* Para notebook: */

@media only screen and (max-width: 992px){

}

/* Para pc: */

@media only screen and (max-width: 1200px){

}