/* --RESET-- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --Variaveis-- */
:root {
  --cor1: #7f5af0;
  --cor2: #2cb67d;
  --cor3: rgb(42, 141, 255);
  --fundo: white;
  --textcolor: black;
}
/* --BODY-- */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* --HEADER-- */
#header {
  width: 100%;
  position: sticky;
  top: 0%;
  z-index: 1;
  height: 4.5rem;
  background: var(--cor1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2.5px solid var(--cor2);
}
.logo {
  position: absolute;
  height: 100%;
  display: flex;
}
.logo img {
  width: 7rem;
  height: 7rem;
  margin-top: -1.2rem;
}
.logo span {
  font: 600 30px "Roboto", sans-serif;
  margin-top: 1rem;
}
.logo span span {
  font: 600 30px "Roboto", sans-serif;
  color: var(--fundo);
}
.logo a {
  text-decoration: none;
  color: var(--textcolor);
  display: flex;
}
/* --NAVBAR-- */
.navbar a {
  text-transform: uppercase;
  margin-left: 1.5rem;
  font: 600 15px "Roboto", sans-serif;
  color: var(--fundo);
  align-self: center;
  text-decoration: none;
}
.button-navbar {
  border-radius: 100%;
  height: 3.2rem;
  width: 3.2rem;
  border: none;
  cursor: pointer;
}
.navbar {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 70%;
}
/* --NAVBAR HOVER-- */

.carrinho:hover,
.perfil:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}
.perfil-navbar-opened button:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}
/* --MAIN-- */
main {
  display: flex;
  flex-direction: row;
}
/* --usuarios-- */
.navegacao {
  position: absolute;
  display: flex;
  margin-top: 7rem;
  margin-right: 20rem;
}
.usuarios {
  display: flex;
  margin-left: 5rem;
  border-radius: 0.5rem;
  height: 5rem;
  text-decoration: none;
  color: black;
  border: #2cb67d 1px solid;
  align-items: center;
  background-color: var(--fundo);
  cursor: pointer;
}
.usuarios:hover {
  box-shadow: 1px -2px 8px 2px rgba(117, 117, 117, 0.2);
  transition: all 0.3s ease;
}
.usuarios h1 {
  align-self: center;
  margin-left: 1.5rem;
  font: 600 20px "Roboto", sans-serif;
}
.usuarios img {
  width: 60px;
  height: 60px;
}
/* --Produtos-- */
.produtos {
  margin-top: 10rem;
  position: relative;
  margin-right: 30rem;
}
.produto {
  display: flex;
  flex-direction: column;
  box-shadow: 1px -2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  height: 15rem;
  width: 65rem;
}
.prodIMG {
  width: 10rem;
  height: 10rem;
  margin-left: 5rem;
}
.modelos {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cor2);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font: 500 20px "Roboto", sans-serif;
  color: var(--fundo);
}
.corpo {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: var(--fundo);
  font: 500 15px "Roboto", sans-serif;
}
.botaocomprar {
  align-self: center;
  font: 600 30px "Roboto", sans-serif;
}
.descricao {
  margin-left: 4rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 35rem;
  font-family: 400 10px "Roboto", sans-serif;
}
.desc {
  margin-top: 1.5rem;
  width: 25rem;
}
.editar-excluir {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.editar {
  width: 70%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: var(--cor2);
  border-radius: 0.5rem;
  color: var(--fundo);
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
.editar-excluir img {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}
.excluir {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin-top: 1rem;
  align-self: center;
  background: red;
  border-radius: 0.5rem;
  color: var(--fundo);
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
.editar:hover {
  box-shadow: 1px 1px 8px 1px #2cb67d;
  transition: all 0.3s ease;
}
.excluir:hover {
  box-shadow: 1px 1px 8px 1px red;
  transition: all 0.3s ease;
}

/* --Adicionar produto--*/

.adicionar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--fundo);
  width: 25rem;
  height: 25rem;
  top: 10rem;
  left: 70%;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 1px -2px 8px 2px rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(0, 0, 0, 0.133);
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h2 {
  margin-bottom: 1.5rem;
  font: 600 20px "Roboto", sans-serif;
}
.container p {
  margin-top: 1.5rem;
  width: 17rem;
  text-align: justify;
  font: 600 15px "Roboto", sans-serif;
}
.container .novoproduto {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  font: 600 15px "Roboto", sans-serif;
}
.addimg {
  width: 60px;
  height: 60px;
}
.adicionaritem {
  margin-left: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}
.adicionaritem:hover {
  box-shadow: 1px 1px 8px 1px var(--cor3);
  transition: all 0.3s ease;
}

/* --Modal adicionar produto-- */
.modal-add-produto {
  display: none;
}
.modal-add-produto-opened {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--fundo);
  width: 35rem;
  height: 45rem;
  border-radius: 1.5rem;
  box-shadow: 1px -2px 20px -2px rgba(0, 0, 0, 0.37);
  border: 2px solid rgba(0, 0, 0, 0.133);
  top: 8rem;
  align-items: center;
  backdrop-filter: var(--cor1);
}
.modal-add-produto-opened h1 {
  font: 500 2rem "Roboto", sans-serif;
  margin-top: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 31rem;
  align-self: center;
  margin-top: 3rem;
}
form input {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  align-self: center;
}
form label {
  margin-top: 0.5rem;
  margin-right: 10rem;
  font: 500 15px "Roboto", sans-serif;
}
form .button {
  width: 10rem;
  height: 2rem;
  align-self: center;
  background: var(--cor3);
  border-radius: 0.2rem;
  color: var(--fundo);
  transition: all 0.3s ease;
  border: none;
  margin-top: 2.5rem;
  cursor: pointer;
}
.entrada {
  background: none;
  border-radius: 0.2rem;
  font: 500 15px "Roboto", sans-serif;
  block-size: 1.5rem;
  width: 30rem;
  border: 1px #a1a1a1 solid;
  animation: none;
  outline: 0;
}
.desc {
  height: 5rem;
}
.sair {
  margin-top: 1rem;
  width: 10rem;
  height: 2rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}
.sair:hover {
  box-shadow: 1px 1px 8px 1px rgb(150, 150, 150);
  transition: all 0.3s ease;
}
.button:hover {
  box-shadow: 1px 1px 8px 1px var(--cor3);
  transition: all 0.3s ease;
}

/* --Modal excluir produto-- */
.modal-excluir-produto {
  display: none;
}
.modal-excluir-produto-opened {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-excluir-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--fundo);
  width: 25rem;
  height: 25rem;
  border-radius: 1.5rem;
  box-shadow: 1px -2px 20px -2px rgba(0, 0, 0, 0.37);
  border: 2px solid rgba(0, 0, 0, 0.133);
  top: 8rem;
  align-items: center;
  justify-content: center;
  font: 500 10px "Roboto", sans-serif;
}
.modal-excluir-container .entrada {
  background: none;
  border-radius: 0.2rem;
  font: 500 13px "Roboto", sans-serif;
  block-size: 1.5rem;
  width: 15rem;
  border: 1px #a1a1a1 solid;
  animation: none;
  outline: 0;
}
.modal-excluir-container .button {
  width: 10rem;
  height: 2rem;
  align-self: center;
  background: red;
  border-radius: 0.2rem;
  color: var(--fundo);
  transition: all 0.3s ease;
  border: none;
  margin-top: 2.5rem;
  cursor: pointer;
}
.modal-excluir-container .button:hover {
  box-shadow: 1px 1px 8px 1px red;
  transition: all 0.3s ease;
}
.alert{
  color: #2cb67d;
  font: 400 10px "Roboto", sans-serif;
  position: absolute;
  width: 9rem;
  margin-top: -1rem;
}
/* --Modal mostrar usuarios-- */
.modal-ver-usuarios{
  display: none;
}
/* --FOOTER-- */

/* --RESPONSIVIDADE-- */

/* Para celular: */

@media only screen and (max-width: 600px) {
}

/* Para tablet: */

@media only screen and (max-width: 768px) {
}

/* Para notebook: */

@media only screen and (max-width: 992px) {
}

/* Para pc: */

@media only screen and (max-width: 1200px) {
}
